 .blog__rich_text
    --float-gap: 4rem;
    @media screen and (max-width: 767px)
      --float-gap: 1rem;
      .w-richtext-figure-type-image:not(.w-richtext-align-floatleft)
        max-width: none !important;

    figcaption
      font-size 0.75rem !important
      margin-top 0
      padding-top 1rem
      display inline-block !important
      text-wrap balance
      a
        font-size 0.75rem !important

    // .w-richtext-figure-type-image:not(.w-richtext-align-floatleft)
    //   max-width 100%
    .w-richtext-align-floatleft
      padding calc(var(--float-gap) / 2) var(--float-gap) calc(var(--float-gap) /2) 0
    .w-richtext-align-floatright
      padding  calc(var(--float-gap) /2) 0 calc(var(--float-gap) /2) var(--float-gap) 
    .w-richtext-align-center, .w-richtext-figure-type-image
      padding 2rem 0 2rem 0
      width 100%
      margin 0 auto !important
      text-align center
    .w-richtext-align-floatleft, .w-richtext-align-floatright
      margin-bottom 0
      width 55%
    .w-richtext-align-fullwidth
      margin 0
      padding 2rem 0;
      >div
        padding 0

  .blog__rich_text blockquote
    margin 3rem 0 0 0
    padding-bottom 4rem
    @media screen and (max-width: 478px)
      padding 3rem 0 
    &::before 
      content: url('https://uploads-ssl.webflow.com/656e3b5605d1347c99ba79f6/65846d8cd690aaaf59bba051_quote.svg');
      position: absolute;
      top: 0;
      left: 50%;
      translate -50% -50%


// .blog__title:hover {
//   text-decoration-color: #0f9;
//   -webkit-text-decoration-color: #0f9;
// }


// @media screen and (max-width: 990px) {
//   .w-richtext figure {
//     max-width: 100%;
//   }
//   .w-richtext figure.w-richtext-align-floatright {
//     margin-left: 0px;
//   }
// }
// @media screen and (max-width: 766px) {
//   .blog__rich_text blockquote::before {
//     top: -30%;
//     bottom: 0;
//     font-size: 5rem;
//   }
// }
// @media screen and (max-width: 477px) {
//   .blog__rich_text blockquote::before {
//     top: -15%;
//     bottom: 0;
//     font-size: 4rem;
//   }
// }
