.blog__rich_text .w-richtext-align-floatleft
  padding 2rem 4rem 2rem 0
  width 55%
.blog__rich_text .w-richtext-align-floatright
  padding 2rem 0 2rem 4rem
  width 55%


// .blog__title {
// }

// .blog__title:hover {
//   text-decoration-color: #0f9;
//   -webkit-text-decoration-color: #0f9;
// }

// .blog__rich_text blockquote::before {
//   content: '"';
//   position: absolute;
//   top: -25%;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   font-size: 7.5rem;
//   font-style: italic;
//   color: #0f9;
//   font-weight: 700;
//   height: auto;
// }
// @media screen and (max-width: 990px) {
//   .w-richtext figure {
//     max-width: 100%;
//   }
//   .w-richtext figure.w-richtext-align-floatright {
//     margin-left: 0px;
//   }
// }
// @media screen and (max-width: 766px) {
//   .blog__rich_text blockquote::before {
//     top: -30%;
//     bottom: 0;
//     font-size: 5rem;
//   }
// }
// @media screen and (max-width: 477px) {
//   .blog__rich_text blockquote::before {
//     top: -15%;
//     bottom: 0;
//     font-size: 4rem;
//   }
// }
