
// .our-work-hero
//     .swiper, .swiper-wrapper
//         width 100% !important
//         height 100% !important
//         position absolute !important
.our-work-hero__info-slider
    margin: 0 !important
    overflow visible !important
    // .swiper-slide-next
    //     opacity 1 !important
.our-work-hero__dot-wrap
    width auto !important
.our-work-hero__img-slider, .our-work-hero__img-list, .our-work-hero__img-item 
    // position static !important
    // overflow: visible !important
    // transform:  none !important
    .swiper-slide
        // min-height: 100% !important
        // flex-basis: 100% !important
        // flex-shrink: 0 !important
        opacity 1 !important