
[slider-cut] .w-dyn-item
  display block !important

html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none

.splide.is-initialized:not(.is-active) .splide__list
  display flex !important
  gap 2rem

.navbar-absolute
  position absolute
  left 0
  top 0
  right 0
  z-index 1000

.navbar-sticky
  .navbar
    //background var(--black)
    backdrop-filter blur(30px)
    background-color rgba(18, 18, 22, .9)

    @media screen and (min-width 992px)
      .menu-link
        padding .5rem 1rem 1rem

      .brand
        padding 0 0 .5rem