
[slider-cut] .w-dyn-item
  display block !important

html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none

.splide.is-initialized:not(.is-active) .splide__list
  display flex !important
  gap 2rem

.navbar-absolute
  position absolute
  left 0
  top 0
  right 0
  z-index 1000

.navbar-sticky
  .navbar
    //background var(--black)
    backdrop-filter blur(30px)
    background-color rgba(18, 18, 22, .9)
    height auto

    @media screen and (min-width 992px)
      padding 1.5rem 0

      .menu-link
        padding .5rem 1rem 1rem

      .brand
        padding 0 0 .5rem

@media screen and (min-width: 992px)
  .other-services__card
    &:first-child
      background var(--prime-card)

    &:nth-of-type(odd)
      transform translateY( calc(-50% - 1.125rem))

@media screen and (min-width: 768px)
  .collection__list_team_grid.is--on .team__member-w
    transition all 300ms ease-out
    background: rgba(30,30,36,0)
    .team__member-hover
      position absolute
      opacity 0
      transition: inherit
    .team__member-img-w
      transition: inherit
    &:hover
      background: rgba(30,30,36,1)
      .team__member-hover
        opacity 1
      .team__member-img-w
        opacity 0
